:root {
  --primary-color: rgba(68, 100, 107, 0.75);
  --secondary-color: rgba(204, 111, 154 , 0.9);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 500vh;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  width: 100vw;
  height: 100vh;
}

.flex-container .home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  opacity: .6;
  z-index: 0;
}

.flex-container .home {

  height: 100vh;
  color: #fff;
  text-shadow: 0.2rem 0.2rem rgb(68, 100, 107);
  font-size: 1.7rem;
  background: url('../img/stars1.jpg') center center/cover;
  background-attachment: fixed;
}

.container {
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

#home:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#home .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#home h1 {
  font-size: 4rem;
}

#home p {
  font-size: 1.3rem;
}

#home .menu-wrap .btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

#home .btn:hover {
  opacity: 0.7;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
  z-index: 1;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: var(--secondary-color);
}

.home .navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #476568;
  opacity: 0.7;
  border-radius: 20px;
  height: 10vh;
  
}

.home .navbar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 5;
}

.home .navbar ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  z-index: 5;
}

.home .navbar li {
  padding: 20px;
  margin: auto;      
}

.home .navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.home .section {
  color: var(--primary-blue);
  font-size: 2rem;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.home .section a, h1, h2 {
  color: #fff;
  text-decoration: none;
  z-index: 0;
}

.home .section a {
  color: #fff;
  margin-top: 2rem;
  border: 0.4rem solid #F9E79F;
  padding: 0.5rem 0.9rem;
  z-index: 0;
}

.home .footer {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #8b5651;
  border-radius: 20px;
  opacity: 0.5;
  height: 10vh;
}

.home .footer p {
  color: white;
  
}

.home .footer a {
  margin-right: 10px;
  color: white;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  z-index: 0;
}

.home .footer .copy {
  margin-left: 50%;
}

.home .footer .facebook:hover {
  background-color: #1877f2;
}

.home .footer .youtube:hover {
  background-color: #ff0000;
}

.home .footer .github:hover {
  background-color: purple;
}

.home .footer .linkedin:hover {
  background-color: #0a66c2;
}

.flex-container .about {
  background: #fff;
  
}

.flex-container .resume {
  background: teal;
}

.flex-container .project {
  background: salmon;
  
}

.flex-container .contact {
  background: seagreen;
}

@media(max-width: 500px) {
  body {
    display: none;
  }
  body h1 {
    content: "SORRY, THE SCREEN IS TOO SMALL";
  }
}

@media(max-width: 705px) and (min-width: 501px) {
  .home .navbar {
    display: none;
  }
  .home .footer {
    background-color: transparent;
    height: 10vh;
    justify-content: center;
  }
  .home .menu-wrap {
    display: contents;
  }
}